doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title=subject
    body
      p Вы или кто-то другой инициировали процедуру восстановления пароля для аккаунта в системе Light Objective
      p Контрольный код: #{code}
      p Проигнорируйте это сообщение, если инициатор восстановления - не вы