doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title=subject
    body
      p Здравствуйте! Вы зарегистрированы в системе постановки задач Light Objective
      a(href='http://olegusgetman.ru:3001/light-objective.jar') Скачать программу
      p Ваш логин: #{login}
      p Ваш пароль: #{password}