html
   head
      title=title
      style
         include style.css
      -function formatDate(date) {
      -   var now = new Date();
      -   var past = now > date;
      -   var diff = daysBetween(now, date);
      -   return paddy(date.getDate(),2) + '.' + paddy(date.getMonth()+1,2) + '.' +  date.getFullYear();
      -}
      -function daysBetween(date1, date2) {
      -   if(!date1 || !date2) return 0;
      -   var timeDiff = Math.abs(date2.getTime() - date1.getTime());
      -   var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
      -   return diffDays;
      -}
      -function daysBetweenConcrete(date1, date2) {
      -   if(!date1 || !date2) return 0;
      -   var timeDiff = date2.getTime() - date1.getTime();
      -   var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
      -   return diffDays;
      -}
      -function readableDays(date) {
      -   var now = new Date();
      -   var past = now > date;
      -   var diff = daysBetween(now, date);
      -   var append;
      -   if(past && diff == 2) { append = 'вчера'; return append; };
      -   if(diff == 1) append = 'сегодня'
      -   else append = past ? diff + ' дней назад' : 'через ' + diff + ' дней';
      -   return append;
      -}
      -function paddy(n, p, c) {
      -    var pad_char = typeof c !== 'undefined' ? c : '0';
      -    var pad = new Array(1 + p).join(pad_char);
      -    return (pad + n).slice(-pad.length);
      -}
      -function parseDate(input) {
      -  var parts = input.split('-');
      -  return new Date(parts[0], parts[1]-1, parts[2]);
      -}
   body
      block content
