extends layout
block content
   l Система постановки задач Light Objective
   br
   l Отчет по текущим задачам сотрудников
   br
   l Отчет сгенерирован: #{formatDate(new Date())}
   each entry in data
      div(class='entry')
         p #{entry.position}
         each user in entry.users
            div(class='entry-user')
               -var noTasks = user.taskCount == 0 ? "(задач нет)" : ""
               l #{user.fname} #{user.name} #{user.oname} 
               span(color='gray') #{noTasks}
               each taskCat in user.taskCategories
                  if(taskCat.tasks.length > 0)
                     div(class='entry-task-cat')
                        l #{taskCat.title}
                     each task in taskCat.tasks
                        div(class='entry-task')
                           l #{task.title} (крайний срок: #{formatDate(task.date_end)} - #{readableDays(task.date_end)})