extends layout
block content
   l Система постановки задач Light Objective
   br
   l Детализация задач для: #{user.fname} #{user.name} #{user.oname} (#{user.position})
   br
   l За период: от #{formatDate(parseDate(dateFrom))} до #{formatDate(parseDate(dateTo))}
   br
   l Отчет сгенерирован: #{formatDate(new Date())}
   each entry in data
      div(class='entry')
         span(color='black') #{formatDate(entry.date)}
         span(color='gray')  (#{readableDays(entry.date)})
         each evt in entry.events
            -var isStart = evt.type == 'start';
            -var isEnd = evt.type == 'end';
            -var isComplete = evt.type == 'complete';
            -var isAlreadyComplete = evt.type == 'end (complete)';
            -var lateDays = 0
            -console.log('---------------------------------------------')
            -console.log('date_start = ' + entry.date)
            -console.log('date_end = ' + evt.date_end)
            -if((isComplete || isAlreadyComplete)) lateDays = -daysBetweenConcrete(entry.date, evt.date_end)
            -console.log('lateDays = ' + lateDays)
            -if(lateDays > 0) evt.title = evt.title + ' (опоздание: '+ lateDays + ' дней)'
            br
            if(isStart)
               span(color='blue') Получена задача: #{evt.title}
            if(isEnd)
               span(color='red') Крайний срок: #{evt.title}
            if(isComplete)
               span(color='green') Завершена задача: #{evt.title}
            if(isAlreadyComplete)
               span(color='gray') Крайний срок: #{evt.title} (уже завершена)
