body {
   padding: 10px;
   font: 14 "Tahoma", Helvetica, Arial, sans-serif;
}

.entry {
   background-color: white;
   border-color: green;
   border-style: solid;
   border-width: 1px;
   font-weight: bold;
   color: green;
   padding-top: -10px;
   padding-left: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
}

.entry-user {
   background-color: white;
   font-weight: bold;
   color: rgb(0,0,100);
   padding-left: 10px;
}

.entry-task-cat {
   background-color: white;
   font-weight: normal;
   padding-left: 10px;
   color: green;
}

.entry-task {
   background-color: white;
   font-weight: normal;
   padding-left: 20px;
   color: black;
}